body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

section {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #c0392b;
}

input[type="button"] {
    color: #fff;
    background-color: #c0392b;
    cursor: pointer;
    border: none;

}

input[type="button"]:hover {
    background-color: #a93226;
}

.adicionar-btn {
    padding: 8px;
    border-radius: 5px;
}

.remover-btn {
    width: 14px;
    height: 14px;
    padding: 0;
    border-radius: 2px;
    text-align: center;
    line-height: 1px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 8px;
}